[Desktop Entry]
Type=Application
Name=rocket-vibe
GenericName=Rocket.Chat client
Comment=Your magical little chat corner
Exec=rocket-vibe-gtk %u
Icon=com.rocketvibe.app
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/rocketvibe;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
StartupWMClass=com.rocketvibe.app
